<h3>Open Source</h3>
<h3>Covert all your sheets into different JSON files</h3>
<input
  type="file"
  #fileInput1
  (click)="fileInput1.value = null"
  [multiple]="false"
  accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
  (change)="onFileChange($event)"
/>

<div id="output"></div>
<br />
<h3 *ngIf="jsonFilesArray.length > 0">
  {{
    "Total " +
      jsonFilesArray.length +
      " sheets found in excel." +
      " Please click on below files names to download each JSON file"
  }}
</h3>
<ul
  style="list-style: circle"
  *ngFor="let files of jsonFilesArray; let i = index"
>
  {{
    i + 1
  }})
  <a
    [id]="files.id"
    style="color: blue; text-decoration: underline"
    download="{{ files.name }}"
    [href]="files.json"
  >
    {{ files.name }}
  </a>
</ul>
